<h1>Login</h1>
<%#= form_tag(login_path) do %>
<!--  <div>-->
<!--    <%#= label_tag :name %>:-->
    <%#= text_field_tag [:name] %>
<!--  </div>-->

<!--  <div>-->
<!--    <%#= label_tag :password %>:-->
    <%#= password_field_tag :password %>
<!--  </div>-->

  <%#= submit_tag 'Login' %>
<%# end %>

<%= form_for @user do |f|  %>
  <div>
    <label>Name:</label>
    <%= f.text_field :name %>
  </div>

  <div>
    <label>Password:</label>
    <%= f.password_field :password %>
  </div>

  <%= f.submit 'Login' %>
<% end %>